@import 'normalize';
@import 'global';
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* container max width -------------------  */
body {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    background: radial-gradient(50% 50% at 50% 50%, #232B31 0%, #121517 100%);
}

.container {
    width: 100%;
    margin: 0 auto;
}



/* main -------------------  */
main {
    flex: 1 1 auto;
}

.game-container {

    &__item {
        gap: 3vw;

        &:first-child {
            margin-bottom: 3vw;
        }
    }

    &__text {
        padding: 2vw;
        position: absolute;
        // background: radial-gradient(50% 50% at 50% 50%, #232B31 50%, #121517de 100%);
        background-color: #121517ef;
        height: 25vw;
        width: 30vw;
        border-radius: 30vw;
        font-size: 3.4vw;
        text-align: center;
        line-height: 150%;
    }
}

.button_1,
.button_2,
.button_3,
.button_4 {
    width: 20vw;
    height: 20vw;
    cursor: pointer;

}

.button_1 {
    background-color: #d5261a;
    border-top-left-radius: 50%;

    &:hover {
        background-color: #b4601e;
    }
}

.button_2 {
    border-top-right-radius: 50%;
    background-color: #317514;

    &:hover {
        background-color: #3d5e20;
    }
}

.button_3 {
    background-color: #fbb13c;
    border-bottom-left-radius: 50%;

    &:hover {
        background-color: #edc94a;
    }
}

.button_4 {
    background-color: #302bbd;
    border-bottom-right-radius: 50%;

    &:hover {
        background-color: #2f2caa;
    }
}

/* footer -------------------  */