@import 'normalize';
@import 'global';
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

// remove highlight

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* container max width -------------------  */
body {
    font-family: 'Press Start 2P', cursive;
        font-family: 'Luckiest Guy', cursive;
    color: #fff;
    background: radial-gradient(50% 50% at 50% 50%, #232B31 0%, #121517 100%);
}

.container {
    width: 100%;
    margin: 0 auto;
}



/* main -------------------  */
main {
    flex: 1 1 auto;
}

.game-container {
    padding: 3vw;
    border-radius: 13vw;
    background-color: #121517;

    &__item {
        gap: 3vw;

        &:first-child {
            margin-bottom: 3vw;
        }
    }

    &__text {
        box-sizing: content-box;
        padding: 2vw;
        position: absolute;
        background-color: #7e2d90;
        height: 15vw;
        width: 20vw;
        border-radius: 30vw;
        font-size: 3.4vw;
        text-align: center;
        line-height: 150%;
        z-index: 100;
        font-weight: 300;
        letter-spacing: 5px;
        border: 3vw solid #121517;
        box-shadow: 0px 0px 2vw 0px rgba(14, 42, 65, 0.9) inset;
        color: #ddb0e8;
    }
}

.btn {
    width: 20vw;
    height: 20vw;
    cursor: pointer;
    box-shadow: 0px 0px 2vw 0px rgba(14, 42, 65, 0.9) inset;
    border-radius: 2vw;

}

.red {
    background-color: #8d231b;
    border-top-left-radius: 50%;

    &:hover {
        background-color: #ff3f31;
        // box-shadow: 0px 0px 2vw 0px #ff3f31,0px 0px 2vw 0px rgba(14, 42, 65, 0.9) inset;    
    }
}


.green {
    border-top-right-radius: 50%;
    background-color: #317514;
    
    &:hover {
        background-color: #69ff29;
        // box-shadow: 0px 0px 2vw 0px #69ff29,0px 0px 2vw 0px rgba(14, 42, 65, 0.9) inset;
    }
}


.yellow {
    background-color: #9a6b1f;
    border-bottom-left-radius: 50%;
    
    &:hover {
        background-color: #ffb237;
        // box-shadow: 0px 0px 2vw 0px #ffb237,0px 0px 2vw 0px rgba(14, 42, 65, 0.9) inset;
    }
}


.blue {
    background-color: #221e84;
    border-bottom-right-radius: 50%;
    &:hover {
        background-color: #403aff;
        // box-shadow: 0px 0px 2vw 0px #403aff,0px 0px 2vw 0px rgba(14, 42, 65, 0.9) inset;
    }
}

.yellow-active{
    background-color: #ffb237;
    box-shadow: 0px 0px 2vw 0px #ffb237,0px 0px 2vw 0px rgba(14, 42, 65, 0.9) inset;
}
.blue-active{
    background-color: #403aff;
    box-shadow: 0px 0px 2vw 0px #403aff,0px 0px 2vw 0px rgba(14, 42, 65, 0.9) inset;
}

.green-active{
    background-color: #69ff29;
    box-shadow: 0px 0px 2vw 0px #69ff29,0px 0px 2vw 0px rgba(14, 42, 65, 0.9) inset;
}
.red-active{
        background-color: #ff3f31;
        box-shadow: 0px 0px 2vw 0px #ff3f31,0px 0px 2vw 0px rgba(14, 42, 65, 0.9) inset;
}
/* footer -------------------  */